*{
    transition: .4s;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: #F0FFF0;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
a.default-button {
    text-decoration: none;    
    color: #fff;
    display: inline-block;
    background: #21B573;
    border-radius: 30px;
    padding: 10px 25px;
}
a.default-button:hover{
    background: rgba(22, 161, 99,0.8);
    box-shadow: 2px 2px 5px #21B573;
}
.hero h6{
    color: #FD511A;
}
.hero h1 {
    font-weight: 700;
    font-size: 61px;
    margin: 30px 0;
}
.hero h1 span{
    color: #21B573;
}
.hero p{
    margin: 35px 0;
}