*{
    transition: .4s;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 100px;
}
.header{
    background-color: #F0FFF0;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
a.default-button {
    text-decoration: none;    
    color: #fff;
    display: inline-block;
    background: #21B573;
    border-radius: 30px;
    padding: 10px 25px;
}
a.default-button:hover{
    background: rgba(22, 161, 99,0.8);
    box-shadow: 2px 2px 5px #21B573;
}
.hero h6{
    color: #FD511A;
}
.hero h1 {
    font-weight: 700;
    font-size: 61px;
    margin: 30px 0;
}
.hero h1 span{
    color: #21B573;
}
.hero p{
    margin: 35px 0;
}

.categories{
}
.cat {
    height: 270px;
    border-radius: 10px;
    background: #F8FFFB;
    margin-left: 15px;
    padding: 45px 0;
    cursor: pointer;
}
.cat:hover{
    background: #FFFFFF;

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.cat img{}
.cat h5 {
    font-size: 18px;
    margin: 20px 0 10px 0;
}
.cat p{
    color: #585859;

}
.online-course h1 {
    font-size: 36px;
    font-weight: 700;
    color: #413960;
    margin-bottom: 100px;
}
.card {
    padding: 15px 15px 0 15px;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.card-body{}
.card-title{
    color: #413960;
}
.card-body p {
    margin-bottom: 0;
    color: #585859;
    font-size: 14px;
}
.card-body a{
    margin: 25px 0;
}
.card-body div{}
.card-body div div img {
    width: 20px;
}
.card-body div div p {
    margin-left: 3px;
    font-weight: 500;
    font-size: 14px;
}
.testimonial{
    margin-bottom: 100px;
}
.testimonial h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
}
.testimonial img{
    width: 120px;
}
.testimonial p {
    margin-bottom: 0;
    width: 600px;
}
.footer{
    background-color: #282531;
    color: #ffff;
    margin-bottom: 0;
}
.footer ul{
    list-style: none;
}
.footer ul li{
    padding: 5px 0;

}
.footer ul li:first-child{
    font-weight: 700;
}
.footer ul li a{
    color: white;
    text-decoration: none;
}
.footer ul li a:hover{
    color: violet;
}
.footer small{
    color: #CDCDCD;
}
.footer div{
    padding:0px;
}
.footer p {
    width: 370px;
    padding: 5px 0;
    margin: auto;
}